body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: auto;
  padding: auto;
}

form {
  background-color: #6fa2ba;
  max-width: 400px;
  margin: 23pc auto;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

span {
  font-weight: bold;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

span.error {
  font-weight: bold;
  color: red;
  display: block;
  margin-top: 5px;
}
